#keyword {
  width: 280px;
  height: 35px;
  border: 2px solid #0078d4;
  border-radius: 5px;
  font-size: 16px;
  padding: 0 10px;
  box-shadow: none;
  transition: all 0.3s ease;
}

#keyword:focus {
  border-color: #0078d4;
  box-shadow: 0 0 5px rgba(0, 120, 212, 0.5);
  outline: none;
}

#keyword::placeholder {
  font-size: 15px; 
  font-family: sans-serif;
  color: gray; 
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}




#custom-tooltip {
  position: absolute;
  background-color: #717171; /* Light grey background */
  color: #ffffff; /* Darker text color for contrast */
  padding: 2px 4px; /* Minimal padding */
  border-radius: 2px; /* Slightly rounded corners */
  font-size: 8px; /* Smaller font size */
  white-space: nowrap; /* Prevent wrapping for compact width */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1); /* Subtle shadow for smaller tooltip */
  z-index: 9999;
  opacity: 0;
  display: none;
  transition: opacity 0.2s ease-in-out;
}


